.superInput {
    border: 1px solid #282c34;
    background: aliceblue;
    margin: 5px;
}

.errorInput {
    border: 1px solid red;
    background: #f1f1cb;
    margin: 5px;
}

.error {
    color: #eaea2f;
    font-size: 1.2em;
}
